{# src/Biotopedia/MediathequeBundle/Resources/views/Categorie/addCategorie.html.twig #}

{% extends "BiotopediaMediathequeBundle::layout.html.twig" %}

{% block title %}
  Ajouter une catégorie - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Ajouter une catégorie</h3>
{% endblock %}

{% block biotopediamediatheque_content %}
  <section id="form-addCategorie">
  	<p>Vous vous apprêtez à ajouter une catégorie dans la mediathèque du site Biotopedia !</p>
  	<form action="{{ path('biotopedia_mediatheque_addCategorie') }}" method="post" {{ form_enctype(form) }}>

      <div class="error">
        {{ form_errors(form) }}{# Les erreurs générales du formulaire. #}
      </div>
  		  <table id="categorie-identite-table-form" class="table-form">
        	<tr>
        		<th>{{ form_label(form.name, "Nom") }}</th>
            <th>{{ form_label(form.image, "Image") }}</th>
        	</tr>

        	<tr>
        		<td>
        			{{ form_errors(form.name) }}
        			{{ form_widget(form.name) }}
        		</td>
            <td>
              {{ form_errors(form.image) }}
              {{ form_widget(form.image) }}
            </td>
        	</tr>
          <tr>
            <th colspan="2">{{ form_label(form.description, "Description") }}</th>
          </tr>
          <tr>
            <td colspan="2">
              {{ form_errors(form.description) }}
              {{ form_widget(form.description) }}
            </td>
          </tr>

      		<tr>
      			<td colspan="2">
      				{# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
      				{{ form_rest(form) }}
      			</td>
      		</tr>
        </table>
  	</form>
  </section>
{% endblock %}

{% block barre_lateral %}
  {% block barre_lateral_titre %}<h3>Menu catégorie</h3>{% endblock barre_lateral_titre %}
  {% block barre_lateral_navigation %}
    <ul>
      <li><a href="{{ path('biotopedia_mediatheque_indexCategorie') }}">
        Index catégories</a></li>
      <li><a href="{{ path('biotopedia_mediatheque_indexArticle') }}">
        Index articles</a></li>
    </ul>
  {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}

{% block javascripts %}
{% endblock %}