{# src/Biotopedia/MediathequeBundle/Resources/views/Categorie/index.html.twig #}

{% extends "BiotopediaMediathequeBundle::layout.html.twig" %}

{% block title %}
   Index Categorie - {{ parent() }}
{% endblock %}

{% block titre %}
	{{ parent() }}<h3 class="content-titre">Index Categorie</h3>
{% endblock %}

{% block biotopediamediatheque_content %}
	<nav id="navigateur-categorie">
		<p>Hello,</br>
			Bienvenue sur la Mediathèque du site {{ website }} !</br>
			Cette dernière a pour vocation, le regroupement d'articles en relation avec le monde aquatique et ses biotopes. Voici les catégories d'articles présentes sur le site :
		</p>
		{% for categorie in categories %}
			<a class = "table-index-categorie" href = "{{ path('biotopedia_mediatheque_showCategorie', { 'id': 	categorie.id }) }}">
			<table style = "background-image: url({{ asset ((categorie.image.webPath) | imagine_filter('my_thumb_out'))	 }});">
				<thead>
					<tr>
						<th>
							<a href="{{ path('biotopedia_mediatheque_showCategorie', { 'id': categorie.id }) }}">
								{{ categorie.name }} ({{ categorie.nbArticles }})</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{# {{ categorie.description|truncate(100, true, '...')|raw }} #}
						</td>
					</tr>
				</tbody>
			</table>
			</a>
		{% endfor %}
	</nav>
{% endblock %}

{% block barre_lateral %}
    {% block barre_lateral_titre %}<h3>Menu Catégorie</h3>{% endblock barre_lateral_titre %}
      {% block barre_lateral_navigation %}
        <ul>
           	<li><a href="{{ path('biotopedia_mediatheque_indexArticle') }}">Index Articles</a></li>
            {#// On vérifie que l'utilisateur dispose bien du rôle ROLE_AUTEUR #}
   			{% if is_granted("ROLE_ADMIN") %}
			    <li><a href="{{ path('biotopedia_mediatheque_addCategorie') }}">Ajouter une Catégorie</a></li>
			{% endif %}
    	</ul>
      {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}