{# app/Ressources/TwigBundle/views/Exception/error500.html.twig #}


{% extends "Biotopediaapp::layout.html.twig" %}

{% block title %}
   Erreur 404 - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Erreur</h3>
{% endblock %}

{% block biotopediaapp_content %}
    <section id="erreur-show">
        <h3 class="content-titre">Erreur</h3>
            {# Sous-titre commun à toutes les pages du bundle#}
            <h1>Page inexistante</h1>

            <h2>Le site Biotopedia retourne une {{ status_code }} {{ status_text }}</h2>

            <p>Désolé du dérangement occasioné. Veillez à contacter l'administrateur du site si vous êtes arrivé sur cette page en suivant un lien.<p>
    </section>

{% endblock %}

{% block barre_lateral %}
    {% block barre_lateral_titre %}
        <h3>
            {{ parent() }} Erreur
        </h3>
    {% endblock barre_lateral_titre %}
    {% block barre_lateral_navigation %}
        <ul>
            <li><a href="#">
                Voir les droits (indisponible)</a></li>
            <li><a href="{{ path('biotopedia_pisciotheque_homepage') }}">
                Index des Familles</a></li>
            <li><a href="{{ path('biotopedia_mediatheque_homepage') }}">
                Index des catégories</a></li>
        </ul>
    {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}