{# src/Biotopedia/CoreBundle/Resources/views/Accueil/conditionsUtilisation.html.twig #}

{% extends "BiotopediaCoreBundle::layout.html.twig" %}

{% block title %}
   Conditions d'utilisation du site Biotopedia.fr - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Conditions d'utilisation du site</h3>
{% endblock %}

{% block biotopediacore_content %}
  <section id="conditions-d-utilisation-show">
    <p>En s'inscrivant sur le site {{ website }}, le membre s'engage à respecter les conditions d'utilisations suivantes :
      <ol>
        <li>Ne pas proposer de médias (lien hypertexte pointant vers des sites ou des pages, images, textes, vidéos ou animations, sons) non conformes à la législation française.</li>
        <li>Ne pas diffuser d'informations trompeuses en sachant que celles-ci sont erronées.</li>
        <li>Ne tenir aucun propos de nature diffamatoire.</li>
        <li>Pour toutes les données protégées par un droit de propriété, le membre doit obtenir les autorisations préalables auprès des titulaires de droits dans les conditions légales avant toute reproduction, représentation et communication au public. Chaque contenu doit donc respecter le droit d’auteur, les sources et références, la vocation informative/explicative et non commerciale ni publicitaire…, faute de quoi il sera supprimé du site.</li>
        <li>S'engage expressément à assumer la responsabilité des médias diffusés par ses soins par l'intermédiaire du site {{ website }}.</li>
        <li>Ainsi, le membre s'engage à décharger l'auteur du site {{ website }}, ({{ webmaster_nom }}), de toute responsabilité en ce qui concerne les données multimédias qu'il aura mis à disposition du public.</li>
      </ol>
		L'auteur du site {{ website }}, ({{ webmaster_nom }}) se réserve le droit de supprimer sans préavis toute information ou message, non conforme aux présentes recommandations et avec un préavis, tout membre ne les respectant pas !</br></br>

		Merci de votre compréhension.
		</p>
 	</section>
{% endblock %}

{% block barre_lateral %}
    {% block barre_lateral_titre %}<h3>{{ parent() }} contacts</h3>{% endblock barre_lateral_titre %}
      {% block barre_lateral_navigation %}
        <ul>
            <li>Adresse: Rhône-Alpes</li>
            <li>Téléphone: {{ webcontact_tel }}</li>
            <li>M@il webmaster: {{ webcontact_site }}</li>
            <li>M@il professionnel: {{ webcontact_pro }}</li>
        </ul>
      {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}