{# src/Biotopedia/UsersBundle/Resources/views/Security/changePW.html.twig #}

{% extends "BiotopediaUsersBundle::layout.html.twig" %}

{% block title %}
  Modifier son mot de passe - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Modifier son mot de passe</h3>
{% endblock %}

{% block biotopediausers_content %}
  <section id="form-changePW">
  	<p>Vous vous apprêtez à modifier votre mot de passe !</p>
  	<form action="{{ path('changePassword', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>

      <div class="error">
        {{ form_errors(form) }}{# Les erreurs générales du formulaire. #}
      </div>

  		<table id="user-identite-table-form" class="user-table-form">
        <tr>
          <th>{{ form_label(form.password, "Votre nouveau mot de passe") }}</th>
        </tr>
        <tr>
          <td class="popup">
            {{ form_errors(form.password) }}
            {{ form_widget(form.password.first) }}
            {{ form_widget(form.password.second) }}
            <span>Choisisez un mot de passe compliqué et tapez le deux fois !</span>
          </td>
        </tr>
        <tr>
          <td>
            {{ form_rest(form) }} {# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
          </td>
        </tr>
      </table>
  	</form>
  </section>
{% endblock %}

{% block barre_lateral %}
  {% block barre_lateral_titre %}
    <h3>
      Menu inscription
    </h3>
  {% endblock barre_lateral_titre %}
  {% block barre_lateral_navigation %}
    <ul>
      <li><a href="{{ path('biotopedia_pisciotheque_indexFamille') }}">
        Index famille</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_indexPoisson') }}">
        Index poisson</a></li>
      <li><a href="{{ path('bp_users_editUser', { 'id': user.id }) }}">
        Retour</a></li>
    </ul>
  {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}

{% block javascripts %}
{% endblock %}