{# src/Biotopedia/MediathequeBundle/Resources/views/Article/editArticle.html.twig #}

{% extends "BiotopediaMediathequeBundle::layout.html.twig" %}

{% block title %}
  Éditer un article - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Éditer l'article {{ article.titre }}</h3>
{% endblock %}


{% block biotopediamediatheque_content %}
  <p>Vous vous apprêtez à éditer l'article {{ article.titre }} de la mediathèque du site Biotopedia !</p>
  <form action="{{ path('biotopedia_mediatheque_editArticle', { 'id': article.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
      <legend>Article</legend>
      {# Les erreurs générales du formulaire. #}
      <div class="error">
          {{ form_errors(form) }}
      </div>
      <table>
        <tr>
          <td>{{ form_label(form.titre, "Titre") }}</td>
        </tr>

        <tr>
          <td>
            {{ form_errors(form.titre) }}
            {{ form_widget(form.titre) }}
          </td>
        </tr>

        <tr>
          <td>
            {{ form_errors(form.contenu) }}
            {{ form_widget(form.contenu, {'attr': {'rows': '20', 'cols':'150'}}) }}
          </td>
        </tr>

        <tr>
          <td>
            {# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
{% endblock %}


{% block barre_lateral %}
    {% block barre_lateral_titre %}
        <h3>
             Menu article <b>{{ article.titre|capitalize }}</b>
        </h3>
    {% endblock barre_lateral_titre %}
    {% block barre_lateral_navigation %}
        <ul>
            <li><a href="{{ path('biotopedia_mediatheque_indexCategorie') }}">
                Index des catégories</a></li>
            <li><a href="{{ path('biotopedia_mediatheque_indexArticle') }}">
                Index des articles</a></li>
            <li><a href="{{ path('biotopedia_mediatheque_showArticle', { 'id': article.id }) }}">
                Retour à l'article <i>{{ article.titre|capitalize }}</i></a></li>
            <li><a href="{{ path('biotopedia_mediatheque_showCategorie', { 'id': article.categorie.id }) }}">
                Retour à la catégorie <b>{{ article.categorie.name|capitalize }}</b></a></li>
        </ul>
    {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}

{% block javascripts %}
{% endblock %}