{# src/Biotopedia/UserBundle/Resources/views/Admin/editUser.html.twig #}

{% extends "BiotopediaUserBundle::layout.html.twig" %}

{% block title %}
  Éditer un utilisateur - {{ parent() }}
{% endblock %}

{% block biotopediauser_content %}
  <h2 class="content-titre">Éditer l'utilisateur {{ user.username }}</h2>
  
    <p>Vous vous apprêtez à modifier l'utilisateur {{ user.username }}</p>

	<hr/>

	<form action="{{ path('biotopedia_userAdmin_edit', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
      <legend>Utilisateur</legend>
		  {# Les erreurs générales du formulaire. #}
    	<div class="error">
      		{{ form_errors(form) }}
    	</div>
		  <table>
      	<tr>
        	<td>{{ form_label(form.username, "Nom d'utilisateur") }}</td>
        	<td>{{ form_label(form.email, "email") }}</td>
          <td>{{ form_label(form.roles, "Rôles") }}</td>
      	</tr>

      	<tr>
      		<td>
      			{{ form_errors(form.username) }}
      			{{ form_widget(form.username) }}
      		</td>
      		<td>
      			{{ form_errors(form.email) }}
      			{{ form_widget(form.email) }}
      		</td>
          <td rowspan="3">
            {{ form_errors(form.roles) }}
            {{ form_widget(form.roles) }}
          </td>
      	</tr>
      	<tr>
      		<td colspan="3">
      				{# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
      				{{ form_rest(form) }}
      		</td>
      	</tr>
      </table>
    </fieldset>
	</form>
{% endblock %}

{% block javascripts %}
{% endblock %}