{# src/Biotopedia/PisciothequeBundle/Resources/views/Poisson/index.html.twig #}

{% extends "BiotopediaPisciothequeBundle::layout.html.twig" %}

{% block title %}
	Index poisson - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Index poissons</h3>
{% endblock %}

{% block biotopediapisciotheque_content %}
	<nav class="menu-vertical">
        <h4>Menu Poisson</h4>
        <ul>
           	<li><a href="{{ path('biotopedia_pisciotheque_indexFamille') }}">Index Familles</a></li>
            {#// On vérifie que l'utilisateur dispose bien du rôle ROLE_ADMIN #}
   			{% if is_granted("ROLE_AUTEUR") %}
				<li><a href="{{ path('biotopedia_pisciotheque_addFamille') }}">Ajouter une Famille</a></li>
			{% endif %}
    	</ul>
    </nav>
	<p>Hello, Bienvenue sur la pisciothèque du site Biotopedia ! Voici les poissons présents sur le site :</p>
	<table id="table_index">
		<thead>
			<tr>
				<th>Nom Scientifique</th>
				<th>Nom Commun</th>
				<th>Auteur(s)</th>
				<th>Dernière mis à jour</th>
			</tr>
		</thead>
		<tbody>
		{% for poisson in poissons %}
			<tr>
				<td><a href="{{ path('biotopedia_pisciotheque_showPoisson', { 'id': poisson.id }) }}">
					{{ poisson.scientificName }}</a>
				</td>
				<td><a href="{{ path('biotopedia_pisciotheque_showPoisson', { 'id': poisson.id }) }}">
					{{ poisson.commonName }}</a>
				</td>
            	<td>{% if not poisson.auteurs.empty %}
                    	{% for auteur in poisson.auteurs %}
                    	    <a href="{{ path('fos_user_profile_show') }}">{{ auteur.username }}</a>
                    	    	{% if not loop.last %}, {% endif %}
                    	{% endfor %}
                	{% endif %}
            	</td>
            	<td><a href="{{ path('biotopedia_pisciotheque_showPoisson', { 'id': poisson.id }) }}">
					<time datetime="{{ poisson.updated | date('c') }}">{{ poisson.updated | localizeddate('full', 'none') }}</time></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}