{# src/Biotopedia/PisciothequeBundle/Resources/views/Famille/addFamille.html.twig #}

{% extends "BiotopediaPisciothequeBundle::layout.html.twig" %}

{% block title %}
  Ajouter une famille - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Ajouter une famille</h3>
{% endblock %}

{% block biotopediapisciotheque_content %}
  <section id="form-addFamille">
  	<p>Vous vous apprêtez à ajouter une nouvelle famille dans la pisciothèque du site Biotopedia !</p>
  	<form action="{{ path('biotopedia_pisciotheque_addFamille') }}" method="post" {{ form_enctype(form) }}>

      <div class="error">
        {{ form_errors(form) }}{# Les erreurs générales du formulaire. #}
      </div>

  		<table id="famille-identite-table-form" class="famille-table-form">
        <tr>
          <th>{{ form_label(form.scientific_name, "Nom Scientifique") }}</th>
        	<th>{{ form_label(form.common_name, "Nom Commun") }}</th>
          <th>{{ form_label(form.image, "Photo de la famille") }}</th>
        </tr>
        <tr>
          <td class="popup">
            {{ form_errors(form.scientific_name) }}
            {{ form_widget(form.scientific_name) }}
            <span>Le nom latin de la famille, ex: Cichlidae.</span>
          </td>
        	<td class="popup">
        		{{ form_errors(form.common_name) }}
        		{{ form_widget(form.common_name) }}
            <span>Le nom commun de la famille, ex: Cichlidés.</span>
        	</td>
          <td>
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
          </td>
        </tr>
        <tr>
          <th colspan="3">{{ form_label(form.description, "Description") }}</th>
        </tr>
        <tr>
          <td class="popup" colspan="3">
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
            <span>Faire une description de la famille. Voici quelques pistes pour vous guider: Origine global, nombre d'éspèces recensées, l'ordre ou sous-ordre...</span>
          </td>
        </tr>
      </table>

      <table id="famille-poissons-table-form" class="famille-table-form">
        <tr>
          <th>{{ form_label(form.poissons, "Poissons") }}</th>
        </tr>
        <tr>
          <td>
            <p>Dans ce formulaire, pour des raisons de lisibilité, les informations concernant les poissons ajoutés sont minimales. De nombreuses informations pourrons être ajoutées dans le menu d'éditions du poisson en post-création.</p>
            {{ form_errors(form.poissons) }}
            {{ form_widget(form.poissons) }}
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            {{ form_rest(form) }} {# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
          </td>
        </tr>
      </table>
  	</form>
  </section>
{% endblock %}

{% block barre_lateral %}
  {% block barre_lateral_titre %}
    <h3>
      Menu famille
    </h3>
  {% endblock barre_lateral_titre %}
  {% block barre_lateral_navigation %}
    <ul>
      <li><a href="{{ path('biotopedia_pisciotheque_indexFamille') }}">
        Index famille</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_indexPoisson') }}">
        Index poisson</a></li>
    </ul>
  {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}

{% block javascripts %}
  <script src="{{ asset('js/jquery-2.1.3.js') }}"></script>
  {% javascripts '@BiotopediaPisciothequeBundle/Resources/public/js/Famille/addFamille.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}