{# src/Biotopedia/PisciothequeBundle/Resources/views/Famille/deleteFamille.html.twig #}

{% extends "BiotopediaPisciothequeBundle::layout.html.twig" %}

{% block title %}
  Supprimer un poisson - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Supprimer une famille</h3>
{% endblock %}

{% block biotopediapisciotheque_content %}
  <p>Etes-vous certain de vouloir supprimer la famille <b>"{{ famille.scientificName|capitalize }}"</b> ?</p>
  {# On met l'id de la famille dans la route de l'action du formulaire #}
  <form action="{{ path('biotopedia_pisciotheque_deleteFamille', {'id': famille.id}) }}" method="post">
    <a href="{{ path('biotopedia_pisciotheque_showFamille', {'id': famille.id}) }}" class="bouton">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la famille
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="bouton-danger" />
    {{ form_rest(form) }} {# Ceci va générer le champ CSRF #}
  </form> 
{% endblock %}

{% block barre_lateral %}
  {% block barre_lateral_titre %}
    <h3>
      Menu famille <b>{{ famille.scientificName|capitalize }}</b>
    </h3>
  {% endblock barre_lateral_titre %}
  {% block barre_lateral_navigation %}
    <ul>
      <li><a href="{{ path('biotopedia_pisciotheque_indexFamille') }}">
        Index famille</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_indexPoisson') }}">
        Index poisson</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_showFamille', { 'id': famille.id }) }}">
        Retour à la fiche famille <b>{{ famille.scientificName }}</b></a></li>
    </ul>
  {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}