{# src/Biotopedia/PisciothequeBundle/Resources/views/Famille/editFamille.html.twig #}

{% extends "BiotopediaPisciothequeBundle::layout.html.twig" %}

{% block title %}
  Éditer une famille - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Éditer la famille</b></h3>
{% endblock %}

{% block biotopediapisciotheque_content %}
  <section id="form-editFamille">
    <p>Vous vous apprêtez à modifier la famille <b>{{ famille.scientificName|capitalize }}</b> dans la pisciothèque du site {{website}} !</p>
  	<form action="{{ path('biotopedia_pisciotheque_editFamille', { 'id': famille.id }) }}" method="post" {{ form_enctype(form) }}>

      <div class="error">
        {{ form_errors(form) }}{# Les erreurs générales du formulaire. #}
      </div>

      <table id="famille-identite-table-form" class="famille-table-form">
        <tr>
          <th>{{ form_label(form.scientific_name, "Nom Scientifique") }}</th>
          <th>{{ form_label(form.image, "Photo de la famille") }}</th>
        </tr>
        <tr>
          <td>
            {{ form_errors(form.scientific_name) }}
            {{ form_widget(form.scientific_name) }}
          </td>
          <td rowspan="3">
            <img class="#" src="{{ asset ((famille.image.webPath) | imagine_filter('my_thumb_out') ) }}" alt="{{ famille.image.alt }} image not found"/>
            Ajouter une photo écrasera l'ancienne ci-contre !
            <hr/>
            {{ form_errors(form.image) }}
            {{ form_widget(form.image) }}
          </td>
        </tr>
        <tr>
          <th>{{ form_label(form.common_name, "Nom Commun") }}</th>
        </tr>
        <tr>
          <td>
            {{ form_errors(form.common_name) }}
            {{ form_widget(form.common_name) }}
          </td>
        </tr>
        <tr>
          <th colspan="3">{{ form_label(form.description, "Description") }}</th>
        </tr>
        <tr>
          <td colspan="3">
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td>
            {{ form_rest(form) }} {# Génération des champs pas encore écrits. Dans cet exemple, ce serait « image », mais aussi le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #}
          </td>
        </tr>
      </table>
    </form>
  </section>
{% endblock %}

{% block barre_lateral %}
  {% block barre_lateral_titre %}
    <h3>
      Menu famille <b>{{ famille.scientificName|capitalize }}</b>
    </h3>
  {% endblock barre_lateral_titre %}
  {% block barre_lateral_navigation %}
    <ul>
      <li><a href="{{ path('biotopedia_pisciotheque_indexFamille') }}">
        Index famille</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_indexPoisson') }}">
        Index poisson</a></li>
      <li><a href="{{ path('biotopedia_pisciotheque_showFamille', { 'id': famille.id }) }}">
        Retour à la fiche famille <b>{{ famille.scientificName }}</b></a></li>
    </ul>
  {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}

{% block javascripts %}
  <script src="{{ asset('js/jquery-2.1.3.js') }}"></script>
  {% javascripts '@BiotopediaPisciothequeBundle/Resources/public/js/Famille/editFamille.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
	</script>
{% endblock %}