{# src/Biotopedia/PisciothequeBundle/Resources/views/Famille/index.html.twig #}

{% extends "BiotopediaPisciothequeBundle::layout.html.twig" %}

{% block title %}
   Index famille - {{ parent() }}
{% endblock %}

{% block titre %}
  {{ parent() }}<h3 class="content-titre">Index familles</h3>
{% endblock %}

{% block biotopediapisciotheque_content %}

	<p>Hello,</br>
		Bienvenue sur la Pisciothèque, la banque de données de poissons du site {{ website }} !</br>
		Cette dernière a pour vocation, le regroupement de poissons et leurs informations déstinées aux aquariphiles et autres.</br>
		Voici les Familles de Poissons présentes sur le site :
	</p>
	
	<nav id="navigateur-famille">
	{% for famille in familles %}
		<a class = "index-famille" href = "{{ path('biotopedia_pisciotheque_showFamille', { 'id': famille.id }) }}">
		<table style = "background-image: url({{ asset ((famille.image.webPath) | imagine_filter('my_thumb_out')) }});">
			<thead>
				<tr>
					<th>
						<a href="{{ path('biotopedia_pisciotheque_showFamille', { 'id': famille.id }) }}">
							{{ famille.scientificName }} ({{ famille.nbPoissons }})</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
					</td>
				</tr>
			</tbody>
		</table>
		</a>
	{% endfor %}
	</nav>
{% endblock %}

{% block barre_lateral %}
    {% block barre_lateral_titre %}<h3>Menu famille</h3>{% endblock barre_lateral_titre %}
      {% block barre_lateral_navigation %}
            <ul>
                <li><a href="{{ path('biotopedia_pisciotheque_addFamille')}}">
                    Ajouter une famille</a></li>
                <li><a href="{{ path('biotopedia_pisciotheque_indexPoisson')}}">
                    Index des poissons</a></li>
            </ul>
      {% endblock barre_lateral_navigation %}
{% endblock barre_lateral %}